<a href="https://colab.research.google.com/github/mateusschoffen/Python-data-email/blob/main/Projeto_Python_Dados_E_mail.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* Projeto para automação da análise de dados e elaboração de relatórios e envio por e-mail.

In [2]:
#Importação da biblioteca e base de dados:

import pandas as pd
df = pd.read_excel(r'/content/drive/MyDrive/Colab Notebooks/Python Dados E-mail/Vendas.xlsx')

#Visualizar DataFrame
display(df)

        Código Venda       Data  ... Valor Unitário Valor Final
0                  1 2019-01-01  ...            358         358
1                  1 2019-01-01  ...            180         360
2                  1 2019-01-01  ...            368         368
3                  2 2019-01-02  ...            200         600
4                  2 2019-01-02  ...             71          71
...              ...        ...  ...            ...         ...
100994         69996 2019-12-26  ...            102         204
100995         69996 2019-12-26  ...            270        1080
100996         69996 2019-12-26  ...             87          87
100997         69997 2019-12-26  ...            108         108
100998         69997 2019-12-26  ...            133         266

[100999 rows x 7 columns]